In [ ]:
#2021년 매출 자료

In [242]:
import requests
import json
from flask import Flask, jsonify
import pandas as pd
from operator import itemgetter

input_list = ['YYYY','Q','상권_구분','상권_구분명','상권','상권명','업종_코드','업종명','분기당_sales','분기당_sales_count','주중_sales','주말_sales','점포수']
df_sales_2021_1 = pd.DataFrame(columns=input_list)

start = [i for i in range(1, 40000, 1000)]
end = [i for i in range(1000, 40001, 1000)]

for i, j in zip(start, end):
    API_URL = f"http://openapi.seoul.go.kr:8088/76485a52596d616e343153594f6e79/json/VwsmTrdarSelngQq/{i}/{j}/2021"
    raw_data = requests.get(API_URL)
    df_raw = json.loads(raw_data.text)
    length = len(df_raw['VwsmTrdarSelngQq']['row'])
    item = itemgetter('STDR_YY_CD', 'STDR_QU_CD', 'TRDAR_SE_CD', 'TRDAR_SE_CD_NM', 'TRDAR_CD','TRDAR_CD_NM', 'SVC_INDUTY_CD', 'SVC_INDUTY_CD_NM', 'THSMON_SELNG_AMT', 'THSMON_SELNG_CO', 'MDWK_SELNG_AMT', 'WKEND_SELNG_AMT', 'STOR_CO')
    df_raw2 = df_raw['VwsmTrdarSelngQq']['row']
    
    index = len(df_sales_2021_1)
    for k in range(length):
        df_sales_2021_1.loc[index+k] = item(df_raw2[k])

df_sales_2021_1

,YYYY,Q,상권_구분,상권_구분명,상권,상권명,업종_코드,업종명,분기당_sales,분기당_sales_count,주중_sales,주말_sales,점포수
0,2021,1,A,골목상권,1000002,난계로27길,CS200034,여관,4563475,141,3245138,1318337,7
1,2021,1,A,골목상권,1000003,돈화문로11가길,CS300028,화초,15769216,396,15488478,280738,4
2,2021,1,A,골목상권,1000010,성균관로5길,CS200036,고시원,1213873,8,1213873,0,2
3,2021,1,A,골목상권,1000015,이화장길,CS300006,미곡판매,30862671,414,20602694,10259977,1
4,2021,1,A,골목상권,1000035,동호로11길,CS200001,일반교습학원,52207897,108,52207897,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,2021,2,A,골목상권,1000391,갈현로33길,CS200028,미용실,128764521,4655,86837825,41926696,15
39996,2021,2,A,골목상권,1000391,갈현로33길,CS200030,피부관리실,17925864,319,17280703,645161,2
39997,2021,2,A,골목상권,1000391,갈현로33길,CS200031,세탁소,36209806,2189,25675347,10534459,5
39998,2021,2,A,골목상권,1000391,갈현로33길,CS300001,슈퍼마켓,113679074,11869,79778215,33900859,6
39999,2021,2,A,골목상권,1000391,갈현로33길,CS300002,편의점,539591037,88710,400520599,139070438,3

In [245]:
df_sales_2021_1.Q.value_counts()

1    32360
2     7640
Name: Q, dtype: int64

In [247]:
df_sales_2021_2 = pd.DataFrame(columns=input_list)

start = [i for i in range(40001, 64000, 1000)]
end = [i for i in range(41000, 64001, 1000)]

for i, j in zip(start, end):
    API_URL = f"http://openapi.seoul.go.kr:8088/76485a52596d616e343153594f6e79/json/VwsmTrdarSelngQq/{i}/{j}/2021"
    raw_data = requests.get(API_URL)
    df_raw = json.loads(raw_data.text)
    length = len(df_raw['VwsmTrdarSelngQq']['row'])
    item = itemgetter('STDR_YY_CD', 'STDR_QU_CD', 'TRDAR_SE_CD', 'TRDAR_SE_CD_NM', 'TRDAR_CD','TRDAR_CD_NM', 'SVC_INDUTY_CD', 'SVC_INDUTY_CD_NM', 'THSMON_SELNG_AMT', 'THSMON_SELNG_CO', 'MDWK_SELNG_AMT', 'WKEND_SELNG_AMT', 'STOR_CO')
    df_raw2 = df_raw['VwsmTrdarSelngQq']['row']
    
    index = len(df_sales_2021_2)
    for k in range(length):
        df_sales_2021_2.loc[index+k] = item(df_raw2[k])
df_sales_2021_2

,YYYY,Q,상권_구분,상권_구분명,상권,상권명,업종_코드,업종명,분기당_sales,분기당_sales_count,주중_sales,주말_sales,점포수
0,2021,2,A,골목상권,1000391,갈현로33길,CS300007,육류판매,247864390,9126,161113261,86751129,7
1,2021,2,A,골목상권,1000391,갈현로33길,CS300011,일반의류,10064987,440,8043640,2021347,4
2,2021,2,A,골목상권,1000391,갈현로33길,CS300018,의약품,85686889,6838,69344576,16342313,3
3,2021,2,A,골목상권,1000391,갈현로33길,CS300035,인테리어,9527100,216,8530867,996233,4
4,2021,2,A,골목상권,1000392,갈현로41길,CS100001,한식음식점,15091717,817,12446600,2645117,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23995,2021,2,R,전통시장,1001471,영동전통시장,CS200030,피부관리실,17598412,145,17069136,529276,2
23996,2021,2,R,전통시장,1001471,영동전통시장,CS200037,노래방,68114696,1686,55297077,12817619,8
23997,2021,2,R,전통시장,1001471,영동전통시장,CS300001,슈퍼마켓,14117633175,940162,10263238668,3854394507,9
23998,2021,2,R,전통시장,1001471,영동전통시장,CS300002,편의점,118125337,15667,92133255,25992082,1
23999,2021,2,R,전통시장,1001471,영동전통시장,CS300004,핸드폰,982219,110,982219,0,1

In [248]:
df_sales_2021_2.Q.value_counts()

2    24000
Name: Q, dtype: int64

In [254]:
df_sales_2021_3 = pd.DataFrame(columns=input_list)

start = [i for i in range(64001, 65000, 1000)]
end = [i for i in range(65000, 65001, 1000)]

for i, j in zip(start, end):
    API_URL = f"http://openapi.seoul.go.kr:8088/76485a52596d616e343153594f6e79/json/VwsmTrdarSelngQq/{i}/{j}/2021"
    raw_data = requests.get(API_URL)
    df_raw = json.loads(raw_data.text)
    length = len(df_raw['VwsmTrdarSelngQq']['row'])
    item = itemgetter('STDR_YY_CD', 'STDR_QU_CD', 'TRDAR_SE_CD', 'TRDAR_SE_CD_NM', 'TRDAR_CD','TRDAR_CD_NM', 'SVC_INDUTY_CD', 'SVC_INDUTY_CD_NM', 'THSMON_SELNG_AMT', 'THSMON_SELNG_CO', 'MDWK_SELNG_AMT', 'WKEND_SELNG_AMT', 'STOR_CO')
    df_raw2 = df_raw['VwsmTrdarSelngQq']['row']
    
    index = len(df_sales_2021_3)
    for k in range(length):
        df_sales_2021_3.loc[index+k] = item(df_raw2[k])
df_sales_2021_3

,YYYY,Q,상권_구분,상권_구분명,상권,상권명,업종_코드,업종명,분기당_sales,분기당_sales_count,주중_sales,주말_sales,점포수
0,2021,2,R,전통시장,1001471,영동전통시장,CS300006,미곡판매,740917156,20636,642602374,98314782,3
1,2021,2,R,전통시장,1001471,영동전통시장,CS300007,육류판매,2539141519,76279,1874014326,665127193,12
2,2021,2,R,전통시장,1001471,영동전통시장,CS300008,수산물판매,311066462,16986,249671208,61395254,7
3,2021,2,R,전통시장,1001471,영동전통시장,CS300009,청과상,593233496,28429,539015886,54217610,11
4,2021,2,R,전통시장,1001471,영동전통시장,CS300010,반찬가게,4091752994,130521,3479961619,611791375,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
733,2021,2,U,관광특구,1001496,강남 마이스 관광특구,CS300028,화초,1026839343,22212,696059665,330779678,6
734,2021,2,U,관광특구,1001496,강남 마이스 관광특구,CS300031,가구,11019599281,5852,6413210755,4606388526,6
735,2021,2,U,관광특구,1001496,강남 마이스 관광특구,CS300032,가전제품,1829845301,8110,1093827594,736017707,8
736,2021,2,U,관광특구,1001496,강남 마이스 관광특구,CS300035,인테리어,86120359,739,86120359,0,4
737,2021,2,U,관광특구,1001496,강남 마이스 관광특구,CS300043,전자상거래업,5836078,92,1810229,4025849,8

In [255]:
df_sales_2021_3.Q.value_counts()

2    738
Name: Q, dtype: int64

In [256]:
import pickle
df_sales_2021 = pd.concat([df_sales_2021_1, df_sales_2021_2, df_sales_2021_3])
df_sales_2021.to_pickle('df_sales_2021.pkl')

In [ ]:
#2020년 매출 자료

In [224]:
df_2020_1 = pd.DataFrame(columns=input_list)

start = [i for i in range(1, 30000, 1000)]
end = [i for i in range(1000, 30001, 1000)]

for i, j in zip(start, end):
    API_URL = f"http://openapi.seoul.go.kr:8088/76485a52596d616e343153594f6e79/json/VwsmTrdarSelngQq/{i}/{j}/2020"
    raw_data = requests.get(API_URL)
    df_raw = json.loads(raw_data.text)
    length = len(df_raw['VwsmTrdarSelngQq']['row'])
    item = itemgetter('STDR_YY_CD', 'STDR_QU_CD', 'TRDAR_SE_CD', 'TRDAR_SE_CD_NM', 'TRDAR_CD','TRDAR_CD_NM', 'SVC_INDUTY_CD', 'SVC_INDUTY_CD_NM', 'THSMON_SELNG_AMT', 'THSMON_SELNG_CO', 'MDWK_SELNG_AMT', 'WKEND_SELNG_AMT', 'STOR_CO')
    df_raw2 = df_raw['VwsmTrdarSelngQq']['row']
    
    index = len(df_2020_1)
    for k in range(length):
        df_2020_1.loc[index+k] = item(df_raw2[k])

df_2020_1

,YYYY,Q,상권_구분,상권_구분명,상권,상권명,업종_코드,업종명,분기당_sales,분기당_sales_count,주중_sales,주말_sales,점포수
0,2020,1,A,골목상권,1000001,계동길,CS100001,한식음식점,431442455,18548,347666954,83775501,19
1,2020,1,A,골목상권,1000001,계동길,CS100002,중식음식점,25767161,1413,19300912,6466249,1
2,2020,1,A,골목상권,1000001,계동길,CS100003,일식음식점,55484866,1272,46837834,8647032,3
3,2020,1,A,골목상권,1000001,계동길,CS100004,양식음식점,156728306,3589,94275028,62453278,3
4,2020,1,A,골목상권,1000001,계동길,CS100005,제과점,257814129,27092,196677600,61136529,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,2020,1,R,전통시장,1001441,본동인정시장,CS100005,제과점,52814378,6113,40782843,12031535,1
29996,2020,1,R,전통시장,1001441,본동인정시장,CS100009,호프-간이주점,12300335,1337,5998750,6301585,2
29997,2020,1,R,전통시장,1001441,본동인정시장,CS100010,커피-음료,13083588,3107,8154118,4929470,5
29998,2020,1,R,전통시장,1001441,본동인정시장,CS200006,일반의원,122115106,11201,104117976,17997130,3
29999,2020,1,R,전통시장,1001441,본동인정시장,CS200028,미용실,29444875,1299,17551948,11892927,8

In [225]:
df_2020_2 = pd.DataFrame(columns=input_list)

start = [i for i in range(30001, 60000, 1000)]
end = [i for i in range(31000, 60001, 1000)]

for i, j in zip(start, end):
    API_URL = f"http://openapi.seoul.go.kr:8088/76485a52596d616e343153594f6e79/json/VwsmTrdarSelngQq/{i}/{j}/2020"
    raw_data = requests.get(API_URL)
    df_raw = json.loads(raw_data.text)
    length = len(df_raw['VwsmTrdarSelngQq']['row'])
    item = itemgetter('STDR_YY_CD', 'STDR_QU_CD', 'TRDAR_SE_CD', 'TRDAR_SE_CD_NM', 'TRDAR_CD','TRDAR_CD_NM', 'SVC_INDUTY_CD', 'SVC_INDUTY_CD_NM', 'THSMON_SELNG_AMT', 'THSMON_SELNG_CO', 'MDWK_SELNG_AMT', 'WKEND_SELNG_AMT', 'STOR_CO')
    df_raw2 = df_raw['VwsmTrdarSelngQq']['row']
    
    index = len(df_2020_2)
    for k in range(length):
        df_2020_2.loc[index+k] = item(df_raw2[k])

df_2020_2

,YYYY,Q,상권_구분,상권_구분명,상권,상권명,업종_코드,업종명,분기당_sales,분기당_sales_count,주중_sales,주말_sales,점포수
0,2020,1,R,전통시장,1001441,본동인정시장,CS200029,네일숍,10067536,183,6711690,3355846,1
1,2020,1,R,전통시장,1001441,본동인정시장,CS200031,세탁소,21611014,1658,15438280,6172734,4
2,2020,1,R,전통시장,1001441,본동인정시장,CS200036,고시원,40020132,173,30212827,9807305,2
3,2020,1,R,전통시장,1001441,본동인정시장,CS200037,노래방,6702994,111,5097439,1605555,1
4,2020,1,R,전통시장,1001441,본동인정시장,CS300002,편의점,96511049,17407,69947316,26563733,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,2020,2,D,발달상권,1001203,명동거리,CS300016,안경,2448310908,23818,1590869234,857441674,33
29996,2020,2,D,발달상권,1001203,명동거리,CS300017,시계및귀금속,1705560043,9486,1323870356,381689687,27
29997,2020,2,D,발달상권,1001203,명동거리,CS300018,의약품,5495043191,414775,4570603835,924439356,23
29998,2020,2,D,발달상권,1001203,명동거리,CS300020,서적,162123955,4212,107092437,55031518,13
29999,2020,2,D,발달상권,1001203,명동거리,CS300021,문구,887802784,75471,651073958,236728826,12

In [257]:
df_2020_3 = pd.DataFrame(columns=input_list)

start = [i for i in range(60001, 100000, 1000)]
end = [i for i in range(61000, 100001, 1000)]

for i, j in zip(start, end):
    API_URL = f"http://openapi.seoul.go.kr:8088/76485a52596d616e343153594f6e79/json/VwsmTrdarSelngQq/{i}/{j}/2020"
    raw_data = requests.get(API_URL)
    df_raw = json.loads(raw_data.text)
    length = len(df_raw['VwsmTrdarSelngQq']['row'])
    item = itemgetter('STDR_YY_CD', 'STDR_QU_CD', 'TRDAR_SE_CD', 'TRDAR_SE_CD_NM', 'TRDAR_CD','TRDAR_CD_NM', 'SVC_INDUTY_CD', 'SVC_INDUTY_CD_NM', 'THSMON_SELNG_AMT', 'THSMON_SELNG_CO', 'MDWK_SELNG_AMT', 'WKEND_SELNG_AMT', 'STOR_CO')
    df_raw2 = df_raw['VwsmTrdarSelngQq']['row']
    
    index = len(df_2020_3)
    for k in range(length):
        df_2020_3.loc[index+k] = item(df_raw2[k])

df_2020_3

,YYYY,Q,상권_구분,상권_구분명,상권,상권명,업종_코드,업종명,분기당_sales,분기당_sales_count,주중_sales,주말_sales,점포수
0,2020,2,D,발달상권,1001203,명동거리,CS300022,화장품,21715753838,449031,15095615017,6620138821,235
1,2020,2,D,발달상권,1001203,명동거리,CS300024,운동/경기용품,443385686,3436,321755816,121629870,19
2,2020,2,D,발달상권,1001203,명동거리,CS300032,가전제품,2102981,11,0,2102981,7
3,2020,2,D,발달상권,1001204,서울 중구 을지로3가역_1,CS100001,한식음식점,7450244214,232416,6694411061,755833153,99
4,2020,2,D,발달상권,1001204,서울 중구 을지로3가역_1,CS100002,중식음식점,60011235,2832,47487580,12523655,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,2020,4,A,골목상권,1000052,녹사평대로32길,CS300024,운동/경기용품,856662,48,856662,0,3
39996,2020,4,A,골목상권,1000053,녹사평대로40나길,CS100001,한식음식점,418790754,11898,285752119,133038635,7
39997,2020,4,A,골목상권,1000053,녹사평대로40나길,CS100002,중식음식점,11078526,458,7367465,3711061,1
39998,2020,4,A,골목상권,1000053,녹사평대로40나길,CS100003,일식음식점,90936583,436,79984796,10951787,1
39999,2020,4,A,골목상권,1000053,녹사평대로40나길,CS100004,양식음식점,973352921,20653,526112155,447240766,19

In [260]:
df_2020_4 = pd.DataFrame(columns=input_list)

start = [i for i in range(100001, 133000, 1000)]
end = [i for i in range(101000, 133001, 1000)]

for i, j in zip(start, end):
    API_URL = f"http://openapi.seoul.go.kr:8088/76485a52596d616e343153594f6e79/json/VwsmTrdarSelngQq/{i}/{j}/2020"
    raw_data = requests.get(API_URL)
    df_raw = json.loads(raw_data.text)
    length = len(df_raw['VwsmTrdarSelngQq']['row'])
    item = itemgetter('STDR_YY_CD', 'STDR_QU_CD', 'TRDAR_SE_CD', 'TRDAR_SE_CD_NM', 'TRDAR_CD','TRDAR_CD_NM', 'SVC_INDUTY_CD', 'SVC_INDUTY_CD_NM', 'THSMON_SELNG_AMT', 'THSMON_SELNG_CO', 'MDWK_SELNG_AMT', 'WKEND_SELNG_AMT', 'STOR_CO')
    df_raw2 = df_raw['VwsmTrdarSelngQq']['row']
    
    index = len(df_2020_4)
    for k in range(length):
        df_2020_4.loc[index+k] = item(df_raw2[k])

df_2020_4

,YYYY,Q,상권_구분,상권_구분명,상권,상권명,업종_코드,업종명,분기당_sales,분기당_sales_count,주중_sales,주말_sales,점포수
0,2020,4,A,골목상권,1000053,녹사평대로40나길,CS100005,제과점,10879090,593,4588306,6290784,3
1,2020,4,A,골목상권,1000053,녹사평대로40나길,CS100006,패스트푸드점,124944550,3030,68135551,56808999,4
2,2020,4,A,골목상권,1000053,녹사평대로40나길,CS100008,분식전문점,22458122,345,13555505,8902617,8
3,2020,4,A,골목상권,1000053,녹사평대로40나길,CS100009,호프-간이주점,147806023,3750,66728999,81077024,10
4,2020,4,A,골목상권,1000053,녹사평대로40나길,CS100010,커피-음료,110331423,7582,64455472,45875951,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32316,2020,4,U,관광특구,1001496,강남 마이스 관광특구,CS300026,완구,330024025,5604,229272063,100751962,7
32317,2020,4,U,관광특구,1001496,강남 마이스 관광특구,CS300027,섬유제품,971389704,31185,631507250,339882454,6
32318,2020,4,U,관광특구,1001496,강남 마이스 관광특구,CS300028,화초,409610564,9795,291059288,118551276,6
32319,2020,4,U,관광특구,1001496,강남 마이스 관광특구,CS300031,가구,11920008477,6667,5760210326,6159798151,6
32320,2020,4,U,관광특구,1001496,강남 마이스 관광특구,CS300032,가전제품,2123968546,8062,1452772341,671196205,8

In [261]:
import pickle
df_sales_2020 = pd.concat([df_2020_1, df_2020_2, df_2020_3, df_2020_4])
df_sales_2020.to_pickle('df_sales_2020.pkl')

In [262]:
sales_2021 = pd.read_pickle('df_sales_2021.pkl')
sales_2020 = pd.read_pickle('df_sales_2020.pkl')