In [ ]:
#생활인구

In [7]:
import requests
import json
from flask import Flask, jsonify
import pandas as pd
from operator import itemgetter
import pickle

input_list = ['YYYY','Q','상권_구분','상권_구분명','상권','상권명','총_생활인구','남성_생활인구', '여성_생활인구']
df_living_2021 = pd.DataFrame(columns=input_list)


start = [i for i in range(1, 3000, 1000)]
end = [i for i in range(1000, 3001, 1000)]

for i, j in zip(start, end):
    API_URL = f"http://openapi.seoul.go.kr:8088/76485a52596d616e343153594f6e79/json/VwsmTrdarFlpopQq/{i}/{j}/2021"
    raw_data = requests.get(API_URL)
    df_raw = json.loads(raw_data.text)
    length = len(df_raw['VwsmTrdarFlpopQq']['row'])
    item = itemgetter('STDR_YY_CD', 'STDR_QU_CD', 'TRDAR_SE_CD', 'TRDAR_SE_CD_NM', 'TRDAR_CD','TRDAR_CD_NM', 'TOT_FLPOP_CO', 'ML_FLPOP_CO', 'FML_FLPOP_CO')
    df_raw2 = df_raw['VwsmTrdarFlpopQq']['row']

    num = len(df_living_2021)
    for k in range(length):
        df_living_2021.loc[num+k] = item(df_raw2[k])

df_living_2021

,YYYY,Q,상권_구분,상권_구분명,상권,상권명,총_생활인구,남성_생활인구,여성_생활인구
0,2021,1,A,골목상권,1000001,계동길,282796.0,142207.0,140590.0
1,2021,1,A,골목상권,1000002,난계로27길,320864.0,164461.0,156403.0
2,2021,1,A,골목상권,1000003,돈화문로11가길,162400.0,90505.0,71895.0
3,2021,1,A,골목상권,1000004,명륜길,626489.0,297916.0,328574.0
4,2021,1,A,골목상권,1000005,백석동길,172515.0,80100.0,92415.0
...,...,...,...,...,...,...,...,...,...
2985,2021,2,U,관광특구,1001492,명동 남대문 북창동 다동 무교동 관광특구,3714818.0,1902360.0,1812458.0
2986,2021,2,U,관광특구,1001493,동대문패션타운 관광특구,3164130.0,1516902.0,1647229.0
2987,2021,2,U,관광특구,1001494,종로·청계 관광특구,3889871.0,2120612.0,1769259.0
2988,2021,2,U,관광특구,1001495,잠실 관광특구,2998695.0,1453421.0,1545274.0
2989,2021,2,U,관광특구,1001496,강남 마이스 관광특구,95914.0,47931.0,47982.0

In [9]:
input_list = ['YYYY','Q','상권_구분','상권_구분명','상권','상권명','총_생활인구','남성_생활인구', '여성_생활인구']
df_living_2020 = pd.DataFrame(columns=input_list)

start = [i for i in range(1, 7000, 1000)]
end = [i for i in range(1000, 7001, 1000)]

for i, j in zip(start, end):
    API_URL = f"http://openapi.seoul.go.kr:8088/76485a52596d616e343153594f6e79/json/VwsmTrdarFlpopQq/{i}/{j}/2020"
    raw_data = requests.get(API_URL)
    df_raw = json.loads(raw_data.text)
    length = len(df_raw['VwsmTrdarFlpopQq']['row'])
    item = itemgetter('STDR_YY_CD', 'STDR_QU_CD', 'TRDAR_SE_CD', 'TRDAR_SE_CD_NM', 'TRDAR_CD','TRDAR_CD_NM', 'TOT_FLPOP_CO', 'ML_FLPOP_CO', 'FML_FLPOP_CO')
    df_raw2 = df_raw['VwsmTrdarFlpopQq']['row']

    num = len(df_living_2020)
    for k in range(length):
        df_living_2020.loc[num+k] = item(df_raw2[k])

df_living_2020

      YYYY  Q 상권_구분 상권_구분명       상권     상권명    총_생활인구   남성_생활인구   여성_생활인구
0     2020  1     A   골목상권  1000025  통일로12길  559439.0  244621.0  314817.0
1     2020  1     A   골목상권  1000029  난계로21길  437545.0  194996.0  242548.0
2     2020  1     A   골목상권  1000036  동호로15길  330103.0  160840.0  169263.0
3     2020  1     A   골목상권  1000037  동호로20길  588582.0  272818.0  315764.0
4     2020  1     A   골목상권  1000038   동호로8길  244452.0  113132.0  131319.0
...    ... ..   ...    ...      ...     ...       ...       ...       ...
6023  2020  4     R   전통시장  1001404  신정제일시장   24701.0   11724.0   12978.0
6024  2020  4     R   전통시장  1001419   가리봉시장  148388.0   83993.0   64396.0
6025  2020  4     R   전통시장  1001432    도림시장   22826.0   11236.0   11591.0
6026  2020  4     R   전통시장  1001460  관악신사시장  486985.0  231234.0  255751.0
6027  2020  4     R   전통시장  1001467    우림시장   49844.0   23332.0   26512.0

[6028 rows x 9 columns]

In [10]:
#직장인구

In [11]:
input_list = ['YYYY','Q','상권_구분','상권_구분명','상권','상권명','총_직장인구','남성_직장인구', '여성_직장인구']
df_working_2021 = pd.DataFrame(columns=input_list)


start = [i for i in range(1, 3000, 1000)]
end = [i for i in range(1000, 3001, 1000)]

for i, j in zip(start, end):
    API_URL = f"http://openapi.seoul.go.kr:8088/76485a52596d616e343153594f6e79/json/VwsmTrdarWrcPopltnQq/{i}/{j}/2021"
    raw_data = requests.get(API_URL)
    df_raw = json.loads(raw_data.text)
    length = len(df_raw['VwsmTrdarWrcPopltnQq']['row'])
    item = itemgetter('STDR_YY_CD', 'STDR_QU_CD', 'TRDAR_SE_CD', 'TRDAR_SE_CD_NM', 'TRDAR_CD','TRDAR_CD_NM', 'TOT_WRC_POPLTN_CO', 'ML_WRC_POPLTN_CO', 'FML_WRC_POPLTN_CO')
    df_raw2 = df_raw['VwsmTrdarWrcPopltnQq']['row']

    num = len(df_working_2021)
    for k in range(length):
        df_working_2021.loc[num+k] = item(df_raw2[k])

df_working_2021

,YYYY,Q,상권_구분,상권_구분명,상권,상권명,총_직장인구,남성_직장인구,여성_직장인구
0,2021,1,A,골목상권,1000001,계동길,842.0,388.0,454.0
1,2021,1,A,골목상권,1000002,난계로27길,201.0,114.0,87.0
2,2021,1,A,골목상권,1000003,돈화문로11가길,3686.0,2700.0,986.0
3,2021,1,A,골목상권,1000004,명륜길,56.0,32.0,24.0
4,2021,1,A,골목상권,1000005,백석동길,1797.0,1066.0,731.0
...,...,...,...,...,...,...,...,...,...
2945,2021,2,U,관광특구,1001492,명동 남대문 북창동 다동 무교동 관광특구,104830.0,53674.0,51156.0
2946,2021,2,U,관광특구,1001493,동대문패션타운 관광특구,6054.0,2958.0,3096.0
2947,2021,2,U,관광특구,1001494,종로·청계 관광특구,32935.0,17150.0,15785.0
2948,2021,2,U,관광특구,1001495,잠실 관광특구,24375.0,14199.0,10176.0
2949,2021,2,U,관광특구,1001496,강남 마이스 관광특구,15904.0,8904.0,7000.0

In [12]:
input_list = ['YYYY','Q','상권_구분','상권_구분명','상권','상권명','총_직장인구','남성_직장인구', '여성_직장인구']
df_working_2020 = pd.DataFrame(columns=input_list)


start = [i for i in range(1, 6000, 1000)]
end = [i for i in range(1000, 6001, 1000)]

for i, j in zip(start, end):
    API_URL = f"http://openapi.seoul.go.kr:8088/76485a52596d616e343153594f6e79/json/VwsmTrdarWrcPopltnQq/{i}/{j}/2020"
    raw_data = requests.get(API_URL)
    df_raw = json.loads(raw_data.text)
    length = len(df_raw['VwsmTrdarWrcPopltnQq']['row'])
    item = itemgetter('STDR_YY_CD', 'STDR_QU_CD', 'TRDAR_SE_CD', 'TRDAR_SE_CD_NM', 'TRDAR_CD','TRDAR_CD_NM', 'TOT_WRC_POPLTN_CO', 'ML_WRC_POPLTN_CO', 'FML_WRC_POPLTN_CO')
    df_raw2 = df_raw['VwsmTrdarWrcPopltnQq']['row']

    num = len(df_working_2020)
    for k in range(length):
        df_working_2020.loc[num+k] = item(df_raw2[k])

df_working_2020

,YYYY,Q,상권_구분,상권_구분명,상권,상권명,총_직장인구,남성_직장인구,여성_직장인구
0,2020,1,A,골목상권,1000001,계동길,842.0,388.0,454.0
1,2020,1,A,골목상권,1000002,난계로27길,201.0,114.0,87.0
2,2020,1,A,골목상권,1000003,돈화문로11가길,3686.0,2700.0,986.0
3,2020,1,A,골목상권,1000004,명륜길,56.0,32.0,24.0
4,2020,1,A,골목상권,1000005,백석동길,1797.0,1066.0,731.0
...,...,...,...,...,...,...,...,...,...
5895,2020,4,U,관광특구,1001492,명동 남대문 북창동 다동 무교동 관광특구,104830.0,53674.0,51156.0
5896,2020,4,U,관광특구,1001493,동대문패션타운 관광특구,6054.0,2958.0,3096.0
5897,2020,4,U,관광특구,1001494,종로·청계 관광특구,32935.0,17150.0,15785.0
5898,2020,4,U,관광특구,1001495,잠실 관광특구,24375.0,14199.0,10176.0
5899,2020,4,U,관광특구,1001496,강남 마이스 관광특구,15904.0,8904.0,7000.0

In [13]:
#아파트인구

In [14]:
input_list = ['YYYY','Q','상권_구분','상권_구분명','상권','상권명','아파트_단지수', '아파트_평균_시가']
df_house_2021 = pd.DataFrame(columns=input_list)

start = [i for i in range(1, 3000, 1000)]
end = [i for i in range(1000, 3001, 1000)]

for i, j in zip(start, end):
    API_URL = f"http://openapi.seoul.go.kr:8088/76485a52596d616e343153594f6e79/json/InfoTrdarAptQq/{i}/{j}/2021"
    raw_data = requests.get(API_URL)
    df_raw = json.loads(raw_data.text)
    length = len(df_raw['InfoTrdarAptQq']['row'])
    item = itemgetter('STDR_YY_CD', 'STDR_QU_CD', 'TRDAR_SE_CD', 'TRDAR_SE_CD_NM', 'TRDAR_CD','TRDAR_CD_NM', 'APT_HSMP_CO', 'AVRG_MKTC')
    df_raw2 = df_raw['InfoTrdarAptQq']['row']

    num = len(df_house_2021)
    for k in range(length):
        df_house_2021.loc[num+k] = item(df_raw2[k])

df_house_2021

      YYYY  Q 상권_구분 상권_구분명       상권           상권명  아파트_단지수    아파트_평균_시가
0     2021  1     A   골목상권  1000975        동남로82길      5.0  150247619.0
1     2021  1     D   발달상권  1001158         당산역_2      3.0  161157476.0
2     2021  1     D   발달상권  1001243    서울 성북구 안암역      1.0   81750000.0
3     2021  1     R   전통시장  1001490       길동복조리시장     37.0  183067389.0
4     2021  1     U   관광특구  1001491      이태원 관광특구     71.0  409473123.0
...    ... ..   ...    ...      ...           ...      ...          ...
2695  2021  2     R   전통시장  1001490       길동복조리시장     39.0  191078841.0
2696  2021  2     U   관광특구  1001491      이태원 관광특구     70.0  428764829.0
2697  2021  2     U   관광특구  1001493  동대문패션타운 관광특구     11.0  245511812.0
2698  2021  2     U   관광특구  1001494    종로·청계 관광특구      8.0  114850602.0
2699  2021  2     U   관광특구  1001495       잠실 관광특구     26.0  566567911.0

[2700 rows x 8 columns]

In [15]:
input_list = ['YYYY','Q','상권_구분','상권_구분명','상권','상권명','아파트_단지수', '아파트_평균_시가']
df_house_2020 = pd.DataFrame(columns=input_list)

start = [i for i in range(1, 6000, 1000)]
end = [i for i in range(1000, 6001, 1000)]

for i, j in zip(start, end):
    API_URL = f"http://openapi.seoul.go.kr:8088/76485a52596d616e343153594f6e79/json/InfoTrdarAptQq/{i}/{j}/2020"
    raw_data = requests.get(API_URL)
    df_raw = json.loads(raw_data.text)
    length = len(df_raw['InfoTrdarAptQq']['row'])
    item = itemgetter('STDR_YY_CD', 'STDR_QU_CD', 'TRDAR_SE_CD', 'TRDAR_SE_CD_NM', 'TRDAR_CD','TRDAR_CD_NM', 'APT_HSMP_CO', 'AVRG_MKTC')
    df_raw2 = df_raw['InfoTrdarAptQq']['row']

    num = len(df_house_2020)
    for k in range(length):
        df_house_2020.loc[num+k] = item(df_raw2[k])

df_house_2020

      YYYY  Q 상권_구분 상권_구분명       상권           상권명  아파트_단지수     아파트_평균_시가
0     2020  1     A   골목상권  1000001           계동길     26.0  2.493220e+08
1     2020  1     A   골목상권  1000002        난계로27길      5.0  8.770049e+07
2     2020  1     A   골목상권  1000003      돈화문로11가길      5.0  1.611183e+08
3     2020  1     A   골목상권  1000004           명륜길     41.0  1.054572e+08
4     2020  1     A   골목상권  1000005          백석동길     41.0  2.140232e+08
...    ... ..   ...    ...      ...           ...      ...           ...
5367  2020  1     D   발달상권  1001170           공덕역      1.0  1.228000e+09
5368  2020  1     U   관광특구  1001491      이태원 관광특구     71.0  4.094731e+08
5369  2020  1     U   관광특구  1001493  동대문패션타운 관광특구      8.0  2.379674e+08
5370  2020  1     U   관광특구  1001494    종로·청계 관광특구      5.0  1.120979e+08
5371  2020  1     U   관광특구  1001495       잠실 관광특구     22.0  5.273471e+08

[5372 rows x 8 columns]

In [19]:
pkl_list = [df_living_2021, df_living_2020, df_working_2021, df_working_2020, df_house_2021, df_house_2020]

df_living_2021.to_pickle('df_living_2021.pkl')

In [20]:
df_living_2020.to_pickle('df_living_2020.pkl')

In [22]:
df_working_2021.to_pickle('df_working_2021.pkl')

In [23]:
df_working_2020.to_pickle('df_working_2020.pkl')

In [24]:
df_house_2021.to_pickle('df_house_2021.pkl')

In [25]:
df_house_2020.to_pickle('df_house_2020.pkl')